body{
	background: #333333
}
.tieude{
	height: 100px;
	background: red;
	font-size: 65px;
	color: green;
}
.left{
	height: 1000px;
	margin-top: 20px;
}
.avt{
	width: 1347px;
}
.avt img{
	width: 100%;
	background-attachment: fixed;
}
.media a{
	text-decoration:none;
}
.media-body a h1{
	color: #D03338
}
.diemden h2{
	color: #f1f1f1;
	text-align: center;	
}
#time {
	background: #98E22B;
	margin:30px auto;
	padding: 30px;
	border-radius: 10px;
	font-size: 4em;
	width: 350px;
	height: 100px;
	line-height: 50px;	
}
#date{
	background: #C2D874;
	margin:30px auto;
	padding: 30px;
	border-radius: 10px;
	font-size: 1em;
	width: 500px;
	height: 100px;
	line-height: 50px;
	color: #E8246B; 
}
#active{
	width: 115px;
}
.phantrang{
	text-align: center;
}
.noidung{
	text-align: center;
}
.noidung a{
	text-decoration:none;
	margin-top: 30px;
}
.foot{
	width: 100%;
	height: 400px;
	background: #f1f1f1	;
	margin-top: 50px;
}
