body{
    height: 100%;
    margin: 0;
    padding: 0;
    background: url(images/tree-nature-forest-grass-light-wood-722681-pxhere.com.jpg);
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    background-attachment: fixed;
    
}

body a:hover{
    text-decoration: none;
}
body b{
    color: rgb(0, 0, 0);
}
body::-webkit-scrollbar {
    border-radius: 20px;
    width: 6px;
    background-color: black;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow-: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: gray;
}
 
body::-webkit-scrollbar-thumb {
    -webkit-box-shadow-: inset 0 0 6px rgba(0,0,0,.3);
    background-color: black;
}

#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #09EA64;
    color: white;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    transition: 1s;
    background-color: #D9AB39;
    color: #000;
}

#menu{
    background-color: #3f3f3f;
    width: auto;
}
#container .container1 img{
    margin-top: -25px;
}
#container #myNavbar>ul>li>a{
    font-size: 18px;
    font-weight: bold;
}
#container #myNavbar>ul>li>ul>li>a{
    font-size: 18px;
    padding: 10px;
    padding-left: 20px;
}
#container ul li:hover{
    background-color: #222222;
    transition: 0.5s;
}
#container ul li a:hover{
    color: rgb(253, 118, 7);
    transition: 0.5s;
}
#menu #container .submenu{
    background-color: #222222;
    left: 0px;
    top: 49px;
    width: 270px;
}
#menu #container .submenu a{
    color: white;
}
#menu #container .submenu a:hover{
    color: rgb(253, 118, 7);
    background-color: rgb(78, 70, 70);
    transition: 0.5s;
}

#wrapper{
    margin: auto;
    width: 86%;
    margin-top: 70px;
    opacity: 1;
}



#trang{
    background-color: #ebeae5;
    margin-bottom: 50px;
    padding-left: 10px;
}
#trang img{
    margin: 15px 0 15px 0;
    max-width: 100%;
}
#trang .slide{
    padding: 3px;
}
#trang .thong_tin{
    padding:0;
    margin: 10px 0 10px 0;
    border-bottom: 1px solid lightgray;
}
#trang .chuong_trinh{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(168, 168, 168);
}
#trang .chuong_trinh span{
    margin-top: 20px;
    
}#trang .chuong_trinh p,b{
    margin-top: 20px;
    font-size: 18px;
}
#trang .dac_diem{
    margin: 20px 0 20px 0;
    padding-bottom: 10px;
}
#trang .dac_diem span{
    margin-top: 20px;
    font-size: 21px;
}
#trang .dac_diem p,b{
    margin-top: 20px;
    font-size: 17px;
}
#trang .right p.mot{
    margin: 5px 0 0 0;
    display: block;
    color: rgb(253, 118, 7);
    font-weight: bold;
    font-size: 18px;
}
#trang .right p.hai{
    font-size: 19px;
    color: #333;
    margin-bottom: 10px;
}
#trang span.mot{
    margin-right:10px;
    margin-left: 10px;
}
#trang span.hai{
    margin-right:10px;
}

#trang h1{
    margin: 15px 0 10px 15px;
    font-size: 26px;
}
#trang h2{
    margin-top: 40px;
    padding-left: 10px;
    font-size: 24px;
    color: rgb(255, 115, 0);
    border-left: 10px solid rgb(255, 115, 0);
}
#trang h3{
    display: inline;
    font-size: 22px;
}
#trang a.mot{
    color: rgb(255, 115, 0);
}
#trang a.mot:hover{
    color: rgb(0, 0, 0);
}

#trang p{
    display: inline; 
}
#trang p.mot{
    display: inline;
    /* font-size: 21px; */
}
#trang p.hai{
    color: rgb(255, 0, 0);
    font-size: 25px;
}





.gioi_thieu1 a{
    color: #000;
}
.gioi_thieu1 a:hover{
    color: rgb(255, 136, 0);
    text-decoration: none;
}
#gioi_thieu .thanh_toan img{
    margin-bottom: 15px;
}
.gioi_thieu1{
    background-color: #caddda;
}
.gioi_thieu1 p.mot{
    color: rgb(255, 136, 0);
    font-weight: bold;
    margin-top: 15px;
}
.gioi_thieu1 p.hai{
    display: inline;
    color: black;
    font-weight: bold;
}
.gioi_thieu1 ul li{
    list-style:  rgb(255, 136, 0);
}
.gioi_thieu1 ul{
    margin: 20px 0 25px 0;
}
.gioi_thieu1 p.ba{
    display: inline;
    color: black;
}
.gioi_thieu1 .cach_hinh img{
    margin-right: 15px;
}
.gioi_thieu1 .input input{
    height: 30px;
    width: 250px;
    padding: 10px;
}
.gioi_thieu1 .input img{
    background-color: #212121;
    padding: 5px;
    margin-bottom: 1px;
}
.gioi_thieu1 .hinh{
    display: inline;
}
.gioi_thieu2{
    background-color: white;
    position: relative;
}
.gioi_thieu2 .chu{
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
}
.gioi_thieu2 .logo{
    position: relative;
    height: 160px;
}
.gioi_thieu2 img{
    position: absolute;
}




@media only screen and (min-width: 1025px){
    #menu #container li:hover .submenu{
        display: inline;
        background-color: #222222;
    }
    #container{
        background-color:#414040;
        margin:0 13% ;
    }
    .gioi_thieu1{
        background-color: #cecfcf;
        height: 500px;
    }
    #trang .img1 .right{
        margin-top: 15%;
        border-left: 1px solid lightslategray;
    }
    #trang input.submit{
        width: 5%;
        margin: 0 47% 30px 47%;
    }
    .gioi_thieu2 img{
        margin: 20px 47% 0 46%;
    }
    #trang p.mot{
        display: inline;
        font-size: 21px;
    }
    #trang a.mot{
    font-size: 21px;
    }
    #trang p.bon{
        background-color: rgb(255, 0, 0);
        color: white;
        font-weight: bold;
        padding: 30px;
        margin-top: 20px;
    }
}
@media only screen and (max-width: 1024px){
    #container ul li a:hover{
        background-color: #0a0a0a;
        transition: 0.5s;
    }
    #container div #myNavbar{
        padding: 0 40px 0 40px;;
    }
    #container{
        background-color:#414040;
        margin:0 2% ;
    }
    #danh_muc{
        margin: 0;
        margin-top: 20px;
    }
    .border{
        margin-bottom: 15px;
    }
    #slide2{
        display: block;
    }
    #trang a.mot{
        font-size: 15px;
    }
    #trang p.bon{
        background-color: rgb(255, 0, 0);
        color: white;
        font-weight: bold;
        padding: 20px 10px 20px 10px;
        margin-top: 20px;
    }
    .gioi_thieu2 img{
        margin: 20px 47% 0 33%;
    }
}